#header{
  background-color: darkorange;
}
#header > ul{
  margin: 0;
  padding: 8px 0px;
  display: flex;
  flex-direction: row;
  place-content: space-around;
}
#header li{
  list-style-type: none;
  font-size:1.2em;
}

#mainView{
    padding:2%;
}

div#home{
  display: flex;
  flex-flow:column;
  place-content: space-around;
}
div.vWrap{
  display: flex;
  flex-direction: row;
}
.genericTable{
  background-color: #fad09d;
  border-radius: 20px;
  padding:5px
}
.genericTable td{
  padding:5px;
  font-size: 1em;
  white-space: pre-wrap;
}
.genericTable thead > td{
  font-size: 10px;
}
.genericTable tr > td{
   background-color: #ffe8cc;
 }
.trackingField >span{
  width: 200px}
table.genericTable tr>td:nth-child(2):hover {
  cursor: pointer;
  background: gray;
}
#urlPreview {
  background-color: #7299e8;
  display: flex;
  padding: 10px 20px;
  max-width: 40%;
  flex-direction: column;
}
#lister{
  background-color: darkorange;
}
#lister h3{
  text-align: center;
}
#urlPicker{
  display:grid;
  grid-template-columns:  repeat(7, 1fr);
}
#urlPicker .ipCol{
  padding:5px;
  margin:5px 5px;
  max-width: 300px;

  font-size: 1em;
  text-align: center;
  background-color: #fad09d;
  border-radius: 20px;
}
#urlPicker .ipCol:hover{
  cursor: pointer;

  background-color: rgba(255, 211, 160, 0.72);
}
#urlPicker .mainpoint{
  background-color: #ff9b9b;
}
#urlPicker .mainpoint:hover{
  background-color: rgba(255, 56, 180, 0.64);
}
#urlPicker .uatpoint{
  background-color: #3dacff;
}
#urlPicker .uatpoint:hover{
  background-color: #7299e8;
}
#urlPicker .sitpoint{
  background-color: rgba(39, 213, 0, 0.83);
}
#urlPicker .sitpoint:hover{
  background-color: rgba(57, 213, 0, 0.6);
}
#urlPreview{
  padding:10px 20px;
}
#urlPreview #currentIP {
  width:100%
}
#urlOption{
  display: flex;
  flex-direction: column;
}
#queryField {
  min-width: 100%;
  min-height: 400px;
}
#queryBatch {
  min-width:360px;
  min-height:200px;
}
.textio{
  display: flex;
  flex-direction: row;
}

.textio textarea{
  min-width: 600px;
  min-height: 300px;
}
#partialCancel .input{
  min-height: 300px;
}

#QueryPicker{
  padding:10px 20px;
  border-radius: 10px;
  border-color: orange;
  border-style: solid;
}
#QueryPicker td{
   padding:10px;
 }

#QueryPicker button{
  padding: 5px 20px;
  margin:0px 10px;
  color: #23a0ff;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}
#QueryPicker td:nth-child(1){
  color:white;
  font-weight: bold;;
}



#QueryPicker > .QueryRow#basic > td:nth-child(1){
  background-color: darkorange;
}
#QueryPicker > .QueryRow#basic > td:nth-child(2){
  background-color: #ffa540;
}


#QueryPicker > .QueryRow#sales > td:nth-child(1){
  background-color: #006ce0;
}
#QueryPicker > .QueryRow#sales > td:nth-child(2){
  background-color: #3979ff;
}


#QueryPicker > .QueryRow#user > td:nth-child(1){
  background-color: #fff400;
}
#QueryPicker > .QueryRow#user > td:nth-child(2){
  background-color: #f8ef2f;
}


#QueryPicker > .QueryRow#misc > td:nth-child(1){
  background-color: #00e065;
}
#QueryPicker > .QueryRow#misc > td:nth-child(2){
  background-color: #39ffa9;
}
#CDCSiebelViewer > #memberData{
  background-color: #c0ffff;
  min-height:240px;
  margin:10px 0px;
}
#CDCSiebelViewer > #queryStatus{
  background-color: rgba(86, 86, 86, 0.25);
  object-fit: fill;
  padding: 10px 15px;
  margin:10px 0px;
  font-size: 20px;
  max-width:60%;
}
#memberData > ul {
  display:flex;
  flex-direction: row;
  padding:0;
  border-bottom: 3px solid darkred;
}
#memberData > ul li {
  list-style-type: none;
  background-color: #3dacff;
  padding:5px 10px;
  color:white;
}
#memberData > ul li:hover {
  cursor: pointer;
  background-color: rgba(61, 172, 255, 0.53)
 }
#memberData table > thead > td{
  font-weight:bold;
  font-size: 16px;
}
#memberData > #viewport{

}

.SummaryData{
  display:flex;
  flex-flow: column nowrap;
}
.SummaryData > *{
  padding: 2px 10px;
}
div#customerSummary {
  display: flex;
  flex-flow: row wrap;
}

.SummaryData {
  min-width: 25%;
  min-height: 50px;
}
.SummaryData > div:nth-child(1) {
  background-color:antiquewhite;
}
.SummaryData > div:nth-child(2) {
  background-color: #fdf7e9;
  min-height: 30px;
  border:1px solid rgba(0, 0, 0, 0.4)
}